body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: white;
  color: #3e2723;
}


/*Contenedor del mapa */

.mapa {
    text-align: center;
    margin-bottom: 40px;
}

/*Imagen del mapa*/
.mapa img {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.79);
}

/*Contenedor de los datos de contacto*/
.datos-contacto {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.datos-contacto p {
    font-size: 18px;
    margin: 10px 0;
    color: #3e2723;
}