body {
  margin: 1;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #d7ccc855;
  color: #3e2723;
}


/*HEADER Y MENÚ*/

header {
  background: linear-gradient(90deg, #8d6e63, #5d4037);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
  background-color: rgba(255,255,255,0.2);
  transform: scale(1.05);
}

nav ul li a.activo {
  background-color: #8d6e63;
  font-weight: bold;
}



/*Contenedor de los datos de contacto*/
.datos-contacto {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.datos-contacto p {
  font-size: 18px;
  margin: 10px 0;
  color: #3e2723;
}


/*ESTILO PARA LA SECCIÓN DEL MAPA */

.mapa {
  text-align: center;                    
  margin: 30px auto;                     
  max-width: 900px;                       
  padding: 20px;                          
  background-color: #fff;                 
  border-radius: 14px;                   
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);    
}

/* Título de la sección */
.mapa h2 {
    font-size: 20px;
    color: #3e2723;                         
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Estilo del iframe del mapa */
.mapa iframe {
  width: 100%;                           
  border: 1;                              
  border-radius: 12px;                    
  box-shadow: 0 4px 14px rgba(0,0,0,0.25);
          
}

/* Efecto hover para dar sensación de profundidad */
.mapa iframe:hover {
    transform: scale(1.01);                 
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}


/*Imagen del mapa*/
.mapa img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.79);
}


/*FOOTER*/

footer {
  background-color: #3e2723;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;

}



footer img {
  width: 32px;
  margin: 0 12px;
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.2);
}

footer a {
  color: #d7ccc8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

