/*ESTILOS GENERALES */
body {
  margin: 1;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #d7ccc855;
  color: #3e2723;
}


/*HEADER Y MENÚ*/

header {
  background: linear-gradient(90deg, #8d6e63, #5d4037);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
  background-color: rgba(255,255,255,0.2);
  transform: scale(1.05);
}

nav ul li a.activo {
  background-color: #8d6e63;
  font-weight: bold;
}

/*SECCIONES DEL INDEX*/

main {
  padding: 40px;
}

/* SECCIÓN BIENVENIDA */
#bienvenida {
  background: linear-gradient(135deg, #f4f1ea, #6d4c41);
  padding: 120px 40px;
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img-bienvenida:hover {
  transform: scale(1.03);
  background-color: #8d6e63;
}


#bienvenida h1 {
  font-size: 48px;
  margin-bottom: 10px;
}



#bienvenida p {
  font-size: 20px;
}

/* SECCIÓN CAFÉS */
#cafes {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#cafes ul {
  list-style: none;
  padding: 0;
}

#cafes ul li {
  background-color: #efebe9;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

#cafes ul li:hover {
  transform: translateX(8px);
  background-color: #d7ccc8;
}

/* SECCIÓN SOBRE NOSOTROS */
#sobre-nosotros {
  background: linear-gradient(180deg, #d7ccc8, #efebe9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/*FOOTER*/

footer {
  background-color: #3e2723;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;

}



footer img {
  width: 32px;
  margin: 0 12px;
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.2);
}

footer a {
  color: #d7ccc8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}




