<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D Coffe - Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">

</head>
   

<body>
    
    <!-- ENCABEZADO -->
    <header>
        <div class="logo">D Coffe</div>
        <nav>
            <ul>
            <li><a href="../index.html" class="activo">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            </ul>
        </nav>
    </header>

      
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <h1>Contacto</h1>
        <p>Puedes encontrarnos en nuestra cafetería o ponerte en contacto con nosotros a través de los siguientes datos.</p>
        
        <!-- DATOS DE LA EMPRESA -->
        <section class="datos-contacto">
            <h2>Datos de la Empresa</h2>           
            <p><strong>Dirección:</strong> Pça. de la Reina, 1, Ciutat Vella, 46003 València</p>
            <p><strong>Teléfono:</strong> 600 000 000</p>
            <p><strong>Email:</strong> contacto@dcoffe.com</p>
            <p><strong>Horario:</strong> Lunes a Sábado, 8:00 - 20:00</p>
        </section>
        
        <!-- MAPA -->
        <section class="mapa">
            <h2>Ubicación</h2>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.792269793778!2d-0.3776742242214874!3d39.47402137160668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4d342da655%3A0x132ff85a086ea778!2sP%C3%A7a.%20de%20la%20Reina%2C%201%2C%20Ciutat%20Vella%2C%2046003%20Val%C3%A8ncia!5e0!3m2!1ses!2ses!4v1766145535332!5m2!1ses!2ses" 
                width="600" 
                height="500">              
            </iframe>

        </section>
                 

        <section class="mapa">           
            <img src="../imagenes/direccion_cofe.jpg" alt="Mapa de ubicación de D Coffe">
        </section>
               

    </main>

    <!-- PIE DE PÁGINA -->
    <footer>
        <div>
            <a href="https://facebook.com" target="_blank"><img src="../imagenes/facebook_logo_icon_147291.ico" alt="Facebook"></a>
            <a href="https://instagram.com" target="_blank"><img src="../imagenes/instagram_108043.ico" alt="Instagram"></a>
            <a href="https://twitter.com" target="_blank"><img src="../imagenes/twitter_x_logo_icon_258917.ico" alt="Twitter"></a>
        </div>
        <p>Plaza España, 5</p>
        <p><a href="https://valladarezdavid70-wyqxa.wordpress.com/">Aviso Legal</a></p>
    </footer>

        

</body>
</html>

