<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D Coffe - Productos</title>
    <link rel="stylesheet" href="../css/produc.css">
    
</head>

<body>
    
  <!-- ENCABEZADO -->
  <header>
    <div class="logo">D Coffe</div>
    <nav>                    
      <ul>
        <li><a href="../index.html" class="activo">Inicio</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
      </ul>
    </nav>
  </header>




    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <h1>Nuestros Productos</h1>
        <p>Explora nuestra selección de cafés, bebidas y repostería artesanal.</p>
        
        <!-- GALERÍA EN CUADRÍCULA -->         
        <section class="galeria">
            <div class="item">
                <img src="../imagenes/cafe-expreso.jpg" alt="Café Espresso">
                <h3>Espresso</h3>
            </div>
            
            <div class="item">
                <img src="../imagenes/Guia-Cappuccino.jpg" alt="Capuchino">
                <h3>Capuchino</h3>
            </div>

            <div class="item">
                <img src="../imagenes/cafe_latte.jpg" alt="Latte">
                <h3>Latte</h3>
            </div>

            <div class="item">
                <img src="../imagenes/Cafe-Mocca.jpg" alt="Café Mocha">
                <h3>Mocha</h3>
            </div>

            <div class="item">
                <img src="../imagenes/cafe_frio.jpg" alt="Café Frío">
                <h3>Café Frío</h3>
            </div>

            <div class="item">
                <img src="../imagenes/cafe_reposteria.jpg" alt="Repostería">
                <h3>Repostería</h3>
            </div>

        </section>

    </main>
    
    
    <!-- PIE DE PÁGINA -->
    <footer>
        <div>
            <a href="https://facebook.com" target="_blank"><img src="../imagenes/facebook_logo_icon_147291.ico" alt="Facebook"></a>
            <a href="https://instagram.com" target="_blank"><img src="../imagenes/instagram_108043.ico" alt="Instagram"></a>
            <a href="https://twitter.com" target="_blank"><img src="../imagenes/twitter_x_logo_icon_258917.ico" alt="Twitter"></a>
        </div>
        <p>Plaza España, 5</p>
        <p><a href="https://valladarezdavid70-wyqxa.wordpress.com/">Aviso Legal</a></p>
    </footer>




</body>
</html>


